.loader {
  font-family: DSEGMINI7;
  font-size: 8rem;
  color: var(--theme-color);
  will-change: opacity;
  width: 100vw;
  height: 100vh;
  background: black;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  position: fixed;

  .letters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .letter {
      display: block;
    }
  }

  @media screen and (width <= 800px) {
    font-size: 4rem;
    letter-spacing: -10px;
    -webkit-text-stroke: 2px black;
  }
}

.off {
  position: absolute;
  white-space: nowrap;
  color: var(--theme-color-off);
  z-index: 1;
}

.on {
  display: flex;
  color: #ff5f15;
  z-index: 2;
  -webkit-text-stroke: none;
  text-shadow: 0 0 .2rem var(--theme-color-on), 0 0 1em var(--theme-color-on), 0 0 0.2em var(--theme-color-on);
}

.title {
  display: flex;
  font-family: DSEGMINI7;
}

.fourteen {
  font-family: DSEGMINI14;
}